body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

#container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.font {
  text-align: center;
}

#quotes {
  background-color: wheat;
  text-align: center;
}

#slider {
  display: flex;

  justify-content: space-around;
}

.categories {
  text-align: center;
}

.randomize {
  text-align: center;
}
